.window{
    width: 200px;
    overflow: hidden;
}
.imags{
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
}
#buttons{
    display: flex;
    align-items: flex-start;
}
#buttons span{
    padding-right: 5px;
    display: block;
    width: 52px;
    height: 52px;
    line-height: 52px;
    justify-content: center;
}
.red{
    color: red;
    font-size: 20px;
    animation: fontsize 0.3s;
}
@keyframes fontsize{
    0%{
        font-size: 14px;
    }
    100%{
        font-size: 20px;
    }
}